var numberFilters = {
  toFix2: function (value) {
    return parseFloat(value).toFixed(2)//此处2为保留两位小数
  },
  toFix1: function (value) {
    return parseFloat(value).toFixed(1)//此处1为保留一位小数
  },
  toFix: function (value) {
    return parseFloat(value).toFixed(0)//此处0为取整数
  },
  integer: function (value) {
    return parseInt(value)//直接取整
  },
  toPercentFix3: function (value) {
    return (parseFloat(value)*100).toFixed(3)+"%"
  },
}
module.exports = {
  toFix2: numberFilters.toFix2,
  toFix1: numberFilters.toFix1,
  toFix: numberFilters.toFix,
  integer:numberFilters.integer,
  toPercentFix3: numberFilters.toPercentFix3
}
